# Core
DATABASE_URL="postgresql://neondb_owner:npg_9TMD5WJtUKgH@ep-still-hall-adkoqobr-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NODE_ENV=development

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_YmFsYW5jZWQtbGl6YXJkLTg4LmNsZXJrLmFjY291bnRzLmRldiQ"
CLERK_SECRET_KEY="sk_test_ztdH3IjHpBbsJWCXRRSBNJXDb79MkXPvbdg7bzbboh"



# Pinecone
PINECONE_API_KEY="pcsk_485fTh_HeHjZMQj7c69UebKfTYgBzXdsweVcW3amTbateyS2KXtUfEeHimdou37hoxiV9L"
PINECONE_ENVIRONMENT="https://githelp-0o7y7eb.svc.aped-4627-b74a.pinecone.io"   # e.g., us-east-1-gcp
PINECONE_INDEX="githelp"

# Google Gemini (AI Models)
GEMINI_API_KEY="AIzaSyDBnjchxKPIoJ2_U0TdQGCCekQvNfIYWLk"
GEMINI_EMBEDDING_MODEL=text-embedding-004
GEMINI_CHAT_MODEL=gemini-1.5-flash
GEMINI_LOCATION=us-central1

# Optional
# GITHUB_TOKEN=ghp_...   # only if you need private repo access